 .hero {
      height:40vh;
      display:flex; 
      align-items:center; 
      justify-content:space-between;
      position: relative;
      border-bottom: 1px solid #141a35;
      padding-bottom: 50px;
      background-image: url('../../img/imgFon.png');
      background-size: 40%; /* или cover */
  background-repeat: no-repeat;
  background-position: 70% 60%; /* 👈 вот это важно */
  scroll-margin-top: 100px;
    }
    .heroText{
      position: relative;
      z-index: 1;
    }
    .heroText h1 {
      font-size:42px;
      margin-bottom:20px;
      text-shadow: 0 0 10px #000;
    }

    .heroText .p {
      font-size: 24px;
      color:#63bff7; 
      margin-bottom:20px;}
      .divBtn{
        display: flex;
        flex-wrap: nowrap;
      }
    .btn {
      padding:13px 20px;
      border-radius:5px;
      border:none;
      cursor:pointer;
      margin-right:10px;
      font-size: 20px;
      box-shadow: 0px 0px 3px 3px black;
      display: flex;
      align-items: center;
      gap:8px;
    }
    .btn img{
      width:32px;
      height: 32px;
    }
    .btnPrimary {
      background: linear-gradient(160deg, #fff 1%, #2b63c4 20%,#2b63c4 40%, #fff 95%);
  background-size: 200% 200%;
  background-position: 0% 50%;
  transition: background-position 0.6s ease; 
      color:#fff;}
    .btnAccent {
      background: linear-gradient(160deg, #fff 1%, #f97316 20%,#f97316 40%, #fff 95%);
  background-size: 200% 200%;
  background-position: 0% 50%;
  transition: background-position 0.6s ease; 
      color:#fff;
    }
.btnPrimary:hover , .btnAccent:hover{
      background-position: 100% 50%;
      text-shadow: 0 0 5px black;
    }  
    

    .plus{
      display: flex;
      flex-wrap: nowrap;
      font-size: 16px;
      justify-content: space-between;
      text-shadow: 0 0 10px rgb(0, 0, 0);
      margin-top:50px;
    }
    .item{
      display: flex;
      align-items: center;
      gap:8px;
      border-right: 1px solid rgb(80, 80, 80) ;
      
      padding:0 20px;
    }
    .item:nth-child(3){
      border-right: 0;
    }
    .item img{
      width: 40px;
      height: 40px;
    }
    .itemP span{
      font-size: 16px;
      color:#979292;
    }
    .verified{
      filter:  drop-shadow(0 0 12px #12b3a0);
    }
    .raketa{
      filter:  drop-shadow(0 0 12px #7b379c);
    }
    .star{
      filter:  drop-shadow(0 0 12px #fb9c2b);
    }

    @media screen and (max-width:430px) {
      .hero{
        background-size: 100%;
      }
      .heroText h1{
        font-size: 30px;
        
      }
      .heroText .p{
        font-size: 20px;
        margin-bottom:150px;
      }
      .btn {
        padding:5px 10px;
        font-size: 15px;
        margin-top: 10px;
      }
      .divBtn{
        flex-direction: column;
        width: 55%;
        display: none;
      }
      .item{
        padding:0 5px;
        border:0;
      }
      .item img{
      width: 25px;
      height: 25px;
    }
    .plus{
      font-size: 14px;
      background: radial-gradient(circle at top, #0b122d8a 0%, #070e26a4 50%);
    box-shadow: 0px 0px 1px 0px #727272 , 0px 10px 15px 0px #000000;
    border-radius: 15px;
    padding:10px 2px;
    }
    .itemP span{
      font-size: 12px;
      color:#979292;
    }
    }